{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <header class="col">
      <h1>Rements of Quetza</h1>
    </header>
  </div>
  {% for video in videos %}
  <div class="row">
    <article class="col">
      <h2 class="date">created: {{ video.created_date|date:'d-m-Y' }}</h2>
        <div class="media">
          <iframe width="560" height="315" src="{{video.URL}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="media-body">
                <h3>{{video.title}}</h3>
                <p>{{video.text}}</p>
            </div>
        </div>
    </article>
  </div>
{% endfor %}
</div>
{% endblock %}
