{% extends 'home/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user == post.author %}
        <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-danger">remove</a> 
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-warning">edit</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
  
    </div>
  </div>
</div>
{% endblock %}
